@using Hera.Components.Layout

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Hera</title>
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <base href="~/" />
        <component
            type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
            render-mode="ServerPrerendered" />

        @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        <component
            type="typeof(Navigation)"
            param-Title="@ViewBag.Title"
            param-IsDashboardMenuActive="@ViewBag.IsDashboardMenuActive"
            param-IsEmployeeMenuActive="@ViewBag.IsEmployeeMenuActive"
            param-IsAttendanceMenuActive="@ViewBag.IsAttendanceMenuActive"
            param-IsShiftMenuActive="@ViewBag.IsShiftMenuActive"
            param-IsOvertimeMenuActive="@ViewBag.IsOvertimeMenuActive"
            param-IsReimbursementMenuActive="@ViewBag.IsReimbursementMenuActive"
            param-IsFeedbackMenuActive="@ViewBag.IsFeedbackMenuActive"
            render-mode="ServerPrerendered" />

        <div class="container" style="margin-top: 20px;">
            <div id="info-message" class="alert-success">@if (TempData.ContainsKey("InfoMessage")) { @Html.Raw(TempData["InfoMessage"]); }</div>
            <div id="error-message" class="alert-danger">@if (TempData.ContainsKey("ErrorMessage")) { @Html.Raw(TempData["ErrorMessage"]); }</div>
            <br/>
            @RenderBody()
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Hera - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="_framework/blazor.server.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>